.play_list .type_list{
	position: relative;
    width: 178px;
    text-align: center;
    border: 1px solid #e7e7e7;
}
.type_list li{
	position: relative;
}
.type_list .img{
	display: block;
	height: 50px;
	width: 50px;
	cursor: pointer;
    margin: 10px 0 10px 10px;
}
.type_list .img img{
	width: 100%;
}
.type_list .title{
	display: block;
	cursor: pointer;
	font-weight: bold;
    margin: 13px 0 0 15px;
}
.list_top div{
    border: 1px solid #e7e7e7;
    padding: 4px 10px;
    margin-right: 15px;
}
.song_list{
	width: 980px;
	padding: 0 20px;
}
.list_top{
	margin-bottom: 15px;
}
.list_content li{
    float: left;
    height: 10px;
    width: 10px;
    margin-right: 4px;
    border-radius: 50%;
    background-color: #ccc;
}
.list_content li.hot_dot{
    background-color: #ff9e9e;	
}
